.title {
    font-size: 35px;
    text-align: center;
    margin: 30px 0;
}

#singlePlayerGrid .col-6.selected {
    background-color: #007bff;
    color: #ffffff;
}

#singlePlayerGrid {
    text-align: center;
}

#singlePlayerGrid .col-6, #startingFive .col-12, #computerFive .col-12 {
    border: 1px solid #e8e8e8;
    box-sizing: border-box;
    padding: 20px;
    position: relative;
}

#singlePlayerGrid .col-6:hover {
    /* background-color: #e0e0e0;
    color: #ffffff;
    border: 1px solid #e0e0e0; */
    cursor: pointer;
}

.game-time {
    text-align: center;
}

#startingFive .btn.btn-primary , #computerFive .btn.btn-primary {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.computerRow .btn.btn-warning {
    position: absolute;
    right: 0;
    top: 35px;
}

.computerRow .title {
    margin-right: 35px;
}